
  
  @import '../../assets/scss/theme.scss';

  .top-bar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 90px;
    background-color: $bg-grey;
    width: 100%;

    .side_nav { 
      display: flex;
      position: absolute;
      top: 0;
      left: 0;


    }

    .side_nav:hover {
      .sidebar-container  {
        left: 0;
    }

    .my_cart:hover {
      .side_cart_container {
        // right: 0;
        // visibility: hidden;
      }
    }

    }
    
    .my_cart { 
      display: flex;
      position: absolute;
      top: 0;
      right: 0vw;
    }
    
  }
