
  
  @import '../../assets/scss/theme.scss';

  .top-bar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 90px;
    background-color: $bg-grey;

    .side-nav { 
      display: flex;
      position: absolute;
      top: 0;
      left: 0;


    }

    .side-nav:hover {
      .sidebar-container  {
        left: 0;
    }

    }
    
    .my-cart { 
      display: flex;
      position: absolute;
      top: 0;
      right: 0;
      background-image: url(../../assets/icons/icon-base-cart.png);
      background-size: cover;
      height: 100%;
      width: 90px;
      justify-content: center;
      align-content: center;
      align-items: center;
    
    }
  }
