
$primary-color: rgb(253, 188, 44);;
$text-white:rgb(228, 228, 228);
$bg-black:rgb(30,30,30);
$bg-grey:rgb(21,21,21);
$border-color: rgb(217,79,43);
$line-color: rgb(88, 88, 88);
$grey-white:rgb(202, 202, 202);
$text-black: rgb(0, 0, 0);

$font-great: 'Fredericka the Great', cursive;
$font-fatface: 'Abril Fatface', cursive;
$font-family: 'Fredericka the Great', cursive;

