
$primary-color: rgb(253, 188, 44);;
$white:rgb(255,255,255);
$bg-black:rgb(30,30,30);
$bg-grey:rgb(21,21,21);
$border-color: rgb(217,79,43);
$line-color: rgb(88, 88, 88);
// $font-great：'Fredericka the Great', cursive;