@import '../../assets/scss/theme.scss';

.shopping_cart {
    width: 100%;
    


    .cart_header {
        display: flex;
        flex-direction: column;
        padding: 4em;
        color: $primary-color;
        background-color: rgb(30,30,30);
        
        h1 {
            font-family: 'Fredericka the Great', cursive;
            color: $text-white;
            font-size: 4vw;
    
        }
        .location {
            button {
                color: $primary-color;
                border: $primary-color groove 2px;
                padding: 10px 20px 10px;
                background: none;
            }
        }
    }

    .cart {
        padding:  2em 0 2em;
        margin: $content_margin;
        display: flex;
        flex-direction: row;
        align-items: initial;
        .orders {
            flex: 65%;
            margin-right: 3%;
            width: 100%;
            display: flex;
            flex-direction: column;
            // border: white 1px solid;
            justify-content: initial;
            align-items: initial;
            .order_head {
                display: flex;
                flex-direction: row;
                border-bottom: 2px solid $border_color;
                margin-top:0vh;
                padding-top: 0vh;
                .column {
                    flex: 20%;
                    padding: 1em;
                }
            }

            .order_list {
                display: flex;
                flex-direction: row;
                height: 100%;
                border-bottom: 1px double $grey-white;
                .column {
                    flex: 20%;
                    padding: 1em;
                }

                ._pizza_info {
                    display: flex;
                    ._pizza_img {
                        height: 3vw;
                        width: 3vw;
                        border-radius: 50%;
                    }
                    ._pizza_name_size{
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                    }
                }

                input {
                    width: 3em;
                }
            }
            
            .order_shiping_promo {
                padding-top: 5%;
                margin-top: 5%;
                display: flex;
                flex-direction: row;
                flex-wrap: nowrap;
                align-items: initial;
                align-content: space-between;
                font-size: 12px;
                font-family: $font-fatface;

                h3 {
                    color: $primary-color;
                    font-family: $font-fatface;
                    margin-bottom: 1em;
                    text-align: left;

                }

                .order_adress {
                    flex: 48%;
                    margin-right: 1%;
                    justify-content: flex-start;
                    .adress {
                        display: flex;
                        flex-direction: column;
                        flex-wrap: nowrap;
                        align-items: initial;
                        justify-content: flex-start;
                        text-align: left;
                        margin-bottom: 1em;
                        .column {
                            margin-bottom: 1em;
                            padding: 0.5em;

                        }
                        input {
                            text-align: left;
                        }

                    }
                    button {
                        background-color: $primary-color;
                        border: none;
                        padding: 0.5em 3em 0.5em;
                    }


                }
                .order_promo_code {
                    flex: 48%;
                    display: flex;
                    flex-direction: column;

                    justify-content: flex-start;
                    .promo_code {
                        margin-left: 1%;
                        display: flex;
                        flex-wrap: nowrap;
                        margin-bottom: 1em;

                        justify-content: flex-start;
                        input {
                            text-align: left;
                            padding: 0.5em 3em 0.5em;

                        }
                    }

                    button {
                        background-color: $primary-color;
                        border: none;
                        padding: 0.5em 3em 0.5em;

                    }


                }
            }


        }



        .cart_totals {
            flex: 32%;
            display: flex;
            flex-direction: column;
            background-color:rgb(0,0,0,0.4);
            padding-top: 1em;
            justify-content: flex-start;


            h3 {
                color: $primary-color;
                font-family: $font-fatface;
            }
            .total_info {
                margin: 2em 0 2em;

                .subtotal, .ship_or, .order_total {
                
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    text-align: left;
                    font-size: 10px;
                    justify-content: space-between;
                    align-items: flex-start;
                    margin-bottom: 1em;
    
                    span {
                        text-align: left;
                    }
                }

            }

            .update_bt {
                background:none;
                color: white;
                border: 1px solid $primary-color;
                margin: 1em;
                padding: 0 2em 0;
            }
            .gocheck_bt {
                background-color: $primary-color;
                border: none;
                padding: 0 1em 0;
            }
 

        }
    }







}