
@import '../../assets/scss/theme.scss';

.menu-header {
    display: flex;
    flex-direction: column;
    padding: 5%;
    color: $primary-color;
    background-color: rgb(30,30,30);
    
    h1 {
        font-family: 'Fredericka the Great', cursive;
        color: $text-white;
        font-size: 4vw;

    }
    .location {
        button {
            color: $primary-color;
            border: $primary-color groove 2px;
            padding: 10px 20px 10px;
            background: none;
        }
    }

}