@import '../../assets/scss/theme.scss';

.pizzaMenu{
    .menu-header {
        display: flex;
        flex-direction: column;
        padding: 5%;
        color: $primary-color;
        background-color: rgb(30,30,30);
        
        h1 {
            font-family: 'Fredericka the Great', cursive;
            color: $text-white;
            font-size: 4vw;
    
        }
        .location {
            button {
                color: $primary-color;
                border: $primary-color groove 2px;
                padding: 10px 20px 10px;
                background: none;
            }
        }
    
    }
    

    /** menubook here**/

    .menu_book {
        margin: $content_margin;
        line-height:1.5em;
        
        /** following for filter**/


        .filter_container {
            display: flex;
            flex-direction: column;
            width: 100%;
            position: relative;
            background-color:rgb(8, 8, 8, 0.6);
            text-align: left;
            padding-bottom: 2em;

            button {
                color: $text-black;
                border: $primary-color solid 0px;
                background-color: $primary-color;
                padding: 0em 1em 0em;
            }

            .filter_title {
                width: 100%;
                display: flex;
                flex-direction: row;
                border-bottom: 2px solid $border-color;
                .filter_button {
                    border: none;
                    background: none;
                    color: $border-color;
                }
                .title-info{ 
                    margin: 1em;
                }
                
            }

                .filters {
                    width: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-around;
                    align-items: flex-start;
                    // display: none;
                    
                    .filter_list {
                        position: relative;
                        top: 0em;
                        display: flex;
                        flex-direction: column;
                        align-items: flex-start;
                        padding-bottom: 1em;

                        label {
                            display: flex;
                            padding-left: 0px;
                            margin-bottom: 12px;
                            font-size: 22px;

                          }


                    }
                }
        }
        .menu-list {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            align-items: flex-start;
            margin-top: 2vh;

            .pizza-card {
                flex: 24%;
                // width: 25%;
                height: 50vh;
                padding-top: 0;
                margin-top: 0;
                line-height: 1.5em;
                color: $grey-white;
                padding: 2%;
                margin-bottom: 2vh;
                ul {
                    width: auto;
                    height: 100%;
                    li {
                        text-align: center;
                        align-items: center;
                        align-content: center;
                        margin-bottom: 10%;
                    }

                    .pizza-img img {
                        height: 30%;
                        width: 100%;
                        border-radius: 1%;
                    }
                    .pizza-name {
                        height: 10%;
                        color: $primary-color;
                        font-family: $font-fatface;
                    }
                    .description {
                        overflow: auto;
                        height: 20%;
                        text-decoration: none;
                        color: $text-white;

                    }
                    .description::-webkit-scrollbar {
                        display: none;
                        
                    }
                    .price {
                        height: 10%;
                        color:$border-color;
                        font-family: $font-great;
                    }
                    .order-by-size {
                        height: auto;
                        display: flex;
                        flex-wrap: nowrap;
                        align-items: stretch;
                        
                        button {
                            color: $text-black;
                            border: $primary-color solid 0px;
                            background-color: $primary-color;
                        }
                    }

                    // h4 {
                    //     color: $primary-color;
                    //     font-family: $font-fatface;
                    //     }
                
                    // h5 {
                    //     color:$border-color;
                    //     font-family: $font-great;
                    // }
                    // p {
                    //     color: $text-white;
                    // }
        
                    // img {
                    
                    // }

        
                }
                
            }
        }

        }
        

}