@import '../../assets/scss/theme.scss';


.pizzaBuilder {
    background-image: url(../../assets/imgs/bg-builder.png);
    background-color: $bg-black;
    background: cover;
    font-size: 16px;
    // font-family: 'Abril Fatface', cursive;


    .header {
        display: flex;
        flex-direction: column;
        padding:10%;
        color: $primary-color;
        background-color: rgb(30,30,30);
        
        h1 {
            font-family: 'Fredericka the Great', cursive;
            color: $text-white;
            font-size: 4vw;

        }
        .location {
            button {
                color: $primary-color;
                border: $primary-color groove 2px;
                padding: 10px 20px 10px;
                background: none;
            }
        }

    }

    .pizza-building {

        // background-image: url(../../assets/imgs/bg-builder.png);
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 20% 5%;
        // width: 100%;
        color: $primary-color;
        // box-shadow: 2px 1px 2px rgb(65, 64, 64);
        align-items: flex-start;


        .ingredients {

            flex:66%;        
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-content: center;
            // align-items: center;
            margin-right: 2%;

            ul {
                width: 100%;
                list-style-type: none;
                text-align: left;
                list-style: none;
                border-top: 1px solid grey;
                margin-bottom: 5em;

    
            li {
                padding-top: 1em;
                padding-bottom: 1em;
                border-bottom: 1px solid grey;
                display: flex;
                flex-wrap: wrap;
                text-align: left;
    
                    .step {
                        flex: 0;
                        text-align: left;
                        padding: 0em 0.5em 0em 0em;
                        margin-left: 0em;
                        font-size: 4em;
                        font-family: 'Fredericka the Great', cursive;
                        color: $border-color;
                    }
                    .step_name {
                        text-align: left;
                        margin-left: 0em;
                        padding-left: 0;
                        flex: 50%;
                        font-size: 2em;
                        font-family: 'Abril Fatface', cursive;
                        text-align: left;

                        color: $primary-color;
                    }
                    img {
                        margin-right: 0em;
                    }
                }
    
            }

        }
        




        .infoBoard {
            background-color: rgb(0,0,0,0.4);
            background-image: url(../../assets/imgs/bg-infoboard-Base.png);
            flex:30%;
            color: white;

            h2 {
                color: $primary-color;
                font-family: $font-fatface;
            }
            .infoboard_head{
                display: flexbox;
                flex: row;
                align-items: flex-start;
                .column {
                    padding: 1em;

                }

            }
        }

        

    }




}

