* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%; 
}

body {
  background: url(./assets/bg-imgs/bg-slider.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  width: 100%;
  height: 100%; 
}

.slider {
  display: flex;
  position: relative;
  color: rgb(231, 143, 9);
  font-size: 1vw;
  width: 100%;
  height: 1087px; 
  justify-content: center;
  align-items: center;
}
.slidercontent {
  margin: 10%;
}

.slider h1 {
  font-size: 5vw;
  color: white;
  font-family: 'Fredericka the Great', cursive;

}
.slider h2 {
  font-size: vw;
  font-family: 'Abril Fatface', cursive;
}
.slider .order {
  border:1px solid rgb(231, 143, 9);
}

/** header styles **/

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 90px;
  width: 100%;
  position: relative;
  background-color: rgb(0, 0, 0);
}

.header .menu {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(./assets/icons/icon-base-menu.png);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5%;
  background-size: cover;
}

.header .cart {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(./assets/icons/icon-base-cart.png);
  background-size: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5%;
  background-size: cover;
}

.header img {
  position: absolute;
  /* width: 100%;
  height: 100%; */
}

/**about us **/
.about-us {
  display: flex;
  flex-wrap: wrap;
  height: 614px;
  line-height: 1.5;
  font-family: 'Abril Fatface', cursive;
  font-family: 'Josefin Sans', sans-serif;
  margin: 10%;
}

.about-us h1 {
  color: rgb(231, 143, 9);
}
.about-us p {
  color: rgb(243, 243, 243);
}

.about-content {
  flex: 100%;
  padding: 2vw;
}
.features {
  display: flex;
  padding: 2vw;
}
.feature {
  flex: 30%;
  margin: 5%;
}