* {
  box-sizing: border-box;
}
.App {
  text-align: center;
  width: 100%;
  height: 100%; 
}

body {
  background: url(./assets/imgs/bg-img.png);
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-size: 16px;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  width: 100%;
  height: 100%; 
}

.description {
  font-size: 12px;
}

.slider {
  display: flex;
  position: relative;
  color: rgb(231, 143, 9);
  font-size: 1vw;
  width: 100%;
  height: 1087px; 
  justify-content: center;
  align-items: center;
}
.slidercontent {
  margin-left: 15%;
  margin-right: 15%;
}

.slider h1 {
  font-size: 5vw;
  color: white;
  font-family: 'Fredericka the Great', cursive;

}
.slider h2 {
  font-size: vw;
  font-family: 'Abril Fatface', cursive;
}
.slider .order {
  border:1px solid rgb(231, 143, 9);
}

/** header styles **/

.header {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  height: 90px;
  width: 100%;
  position: relative;
  background-color: rgb(0, 0, 0);
}

.header .menu {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(./assets/icons/icon-base-menu.png);
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 5%;
  background-size: cover;
}

.header .cart {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-image: url(./assets/icons/icon-base-cart.png);
  background-size: 100%;
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 5%;
  background-size: cover;
}


/**about us **/
.about-us {
  display: flex;
  flex-wrap: wrap;
  height: 614px;
  line-height: 1.5;
  font-family: 'Abril Fatface', cursive;
  margin-left: 15%;
  margin-right: 15%;
}

.about-us h1 {
  color: rgb(231, 143, 9);
  font-size: 2em;
}
.about-us p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 12px;
  color: antiquewhite;
}

.about-content {
  flex: 100%;
  padding: 2vw;
}
.features {
  display: flex;
  padding: 2vw;
}
.feature {
  flex: 33%;
  margin: 3%;
}

/** style of Popular part**/

.popular {
  background: url(../src/assets/imgs/bg-base-popular.png) center; 
  height: 570px;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
}
.popular-content {
  display: flex;
  flex-wrap: wrap;
  height: 500PX;
  margin-left: 15%;
  margin-right: 15%;
}

.pizza-info {
  flex: 40%;
}
.pizza-img {
  flex: 50%;
  border-radius: 50%;
  height: 100%;
  width: auto;
}

.pizza-info h2 {
  color: antiquewhite;
  font-family: 'Abril Fatface', cursive;
}

.pizza-info h3 {
  color: black;
  font-family: 'Fredericka the Great', cursive;
}

.pizza-info p {
  color: antiquewhite;
  font-family: 'Josefin Sans', sans-serif;
}

.pizza-info button {
  text-decoration: none;
  background-color: rgb(253, 188, 44);
  border: none;
}

/** pizza-bulder **/

.pizza-bulder {
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 1380px;
  margin: 5% 15% 5% 15%;
}
.pizza-bulder h2, h3{
  color: rgb(231, 143, 9);
  font-size: 2em;
  font-family: 'Abril Fatface', cursive;
}

.pizza-bulder p{
  color: antiquewhite;
}
.build-flow {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #000;

}
.icons {
  right:0;
}

.pizza-bulder button {
  text-decoration: none;
  background-color: rgb(253, 188, 44);
  border: none;
  
  margin-top: 10%;
}