* {
  box-sizing: border-box;
}
.App {
  background-image: url(./assets/imgs/bg-img.png);
  text-align: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}

.testimonial {
  color: white;
  margin: 10%;
  font-family: "Abril Fatface", cursive;
}

.testimonial h1,
h4 {
  color: rgb(231, 143, 9);
  font-family: "Abril Fatface", cursive;
}

.testimonial h1 {
  margin-top: 50px;
  margin-bottom: 30px;
}

.testimonial p {
  color: white;
  font-family: "Myriad Pro", cursive;
  padding-left: 10%;
  padding-right: 10%;
}

.reviewContainer {
  display: flex;
  justify-content: center;
  height: 614px;
  width: 80%;
  line-height: 1.5;
  font-family: "Abril Fatface", cursive;
  font-family: "Josefin Sans", sans-serif;
  margin: 10%;
}

.imgCard {
  border-radius: 50%;
  background-color: #d94f2b;
  height: 150px;
  width: 150px;
  margin-left: 75px;
  margin-bottom: 10px;
}

span {
  color: #d94f2b;
}

