.homepage {
  color: whitesmoke;
  font-family: Arial, Helvetica, sans-serif;
  /** style for about-us part **/
  /** popular pizzas **/
  /** style for pizza-builder **/
  /**style for IngredientBoxs **/
  /** style for Testimonials/reviews**/
  /** style for mobile app download**/
}
.homepage .slider {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.homepage .slider h1 {
  font-family: "Fredericka the Great", cursive;
  font-size: 4vw;
  color: whitesmoke;
}
.homepage .slider h2 {
  margin: 20px;
  font-family: "Abril Fatface", cursive;
  font-size: 2vw;
  color: #fdbc2c;
}
.homepage .slider button {
  margin-top: 20px;
  color: #fdbc2c;
  border: #fdbc2c solid 2px;
  padding: 10px 30px 10px;
  background: none;
}
.homepage .about-us {
  display: flex;
  flex-wrap: wrap;
  line-height: 1.5;
  font-family: "Abril Fatface", cursive;
  margin: 10% 15% 10% 15%;
}
.homepage .about-us h1, .homepage .about-us h2 {
  color: #fdbc2c;
}
.homepage .about-us p {
  font-family: "Josefin Sans", sans-serif;
  float: left;
  margin: 1%;
}
.homepage .about-us .features {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
}
.homepage .about-us .feature {
  flex: 33%;
  margin: 3%;
  float: left;
}
.homepage .popular {
  display: flex;
  justify-content: center;
  flex-wrap: nowrap;
  height: 614px;
  width: 100%;
  line-height: 1.5;
  font-family: "Abril Fatface", cursive;
  background: url(../../assets/imgs/bg-base-popular.png) center center no-repeat;
  background-repeat: no-repeat;
}
.homepage .popular h1, .homepage .popular h2 {
  color: #fdbc2c;
}
.homepage .popular p {
  font-family: "Josefin Sans", sans-serif;
  float: left;
  margin: 1%;
}
.homepage .popular .popular-pizzas {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 0 20% 0;
}
.homepage .popular .popular-pizzas .popular-pizza {
  margin: 3%;
}
.homepage .popular .popular-pizzas .pizza-info {
  width: 40%;
  margin: auto;
}
.homepage .popular .popular-pizzas .pizza-info .price {
  font-family: "Fredericka the Great", cursive;
  color: #1e1e1e;
}
.homepage .popular .popular-pizzas .pizza-info button {
  border: none;
  background-color: #fdbc2c;
}
.homepage .popular .popular-pizzas .pizza-img {
  width: 50%;
  margin: 3%;
}
.homepage .popular .popular-pizzas .pizza-img img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.homepage .pizza-builder {
  justify-content: center;
  align-content: center;
  height: 1380px;
  margin: 5% 15% 5% 15%;
}
.homepage .pizza-builder h2, .homepage .pizza-builder h3 {
  color: #fdbc2c;
  font-family: "Abril Fatface", cursive;
}
.homepage .pizza-builder p {
  font-family: "Josefin Sans", sans-serif;
}
.homepage .pizza-builder .build-flow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
  color: #000;
}
.homepage .pizza-builder .build-flow .title {
  position: relative;
  width: 100%;
}
.homepage .pizza-builder .build-flow .title .icons {
  position: absolute;
  right: 0;
}
.homepage .pizza-builder .build-flow hr {
  border: 1px groove #585858;
}
.homepage .pizza-builder .build-flow .steps {
  display: flex;
  flex-direction: row;
}
.homepage .pizza-builder .build-flow .steps .step {
  color: #d94f2b;
  font-size: 4vw;
  font-family: "Fredericka the Great", cursive;
}
.homepage .pizza-builder button {
  border: none;
  background-color: #fdbc2c;
  margin: 3%;
}
.homepage .ingredientBoxs {
  background: url(../../assets/imgs/bg-ingredient.png) center center navajowhite;
  background-size: cover;
  justify-content: center;
  height: 430px;
  width: 100%;
  font-size: 4vw;
}
.homepage .ingredientBoxs .boxs {
  display: flex;
  flex-direction: row;
  margin: 10% 15% 10% 15%;
}
.homepage .ingredientBoxs .boxs .box {
  height: 200px;
  width: 200px;
  border: 5px solid #d94f2b;
  border-radius: 100px;
  font-size: 5vm;
  margin-top: 10%;
}
.homepage .mobileApp {
  background-color: #1e1e1e;
  /* Create two unequal columns that sits next to each other */
  /* Sidebar/left column */
  /* Main column */
}
.homepage .mobileApp .row {
  display: flex;
  flex-wrap: wrap;
  margin: 15%;
  color: whitesmoke;
}
.homepage .mobileApp .side {
  flex: 30%;
  padding: 20px;
  width: 30%;
}
.homepage .mobileApp .iphone {
  width: 100%;
  height: 100%;
}
.homepage .mobileApp .mainMobile {
  flex: 70%;
  padding: 20px;
  width: 40%;
  text-align: left;
  font-family: "Myriad Pro", cursive;
}
.homepage .mobileApp h1, .homepage .mobileApp h2, .homepage .mobileApp h3 {
  color: #fdbc2c;
  font-family: "Abril Fatface", cursive;
}
.homepage .mobileApp .mobileApp ul {
  color: #fdbc2c;
}
.homepage .blogPost {
  color: #fdbc2c;
  margin: 0 15% 0 15%;
}
.homepage .blogPost .blogPostContainer {
  color: #fdbc2c;
  display: flex;
  justify-content: center;
  line-height: 1.5;
  font-family: "Abril Fatface", cursive;
  font-family: "Josefin Sans", sans-serif;
  text-align: left;
  color: whitesmoke;
  margin: 5% 15% 5%;
}
.homepage .blogPost .imgBackground {
  background-color: black;
  height: 250px;
  width: 250px;
  margin-bottom: 10px;
  border: 1px solid #d94f2b;
}
.homepage .blogPost .blogButton {
  background-color: #fdbc2c;
  border: none;
  color: black;
  padding: 10px 38px;
  text-align: center;
  font-size: 14px;
  margin: 4px 2px;
}

/*# sourceMappingURL=homepage.css.map */
